<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h5>Student</h5>
                    <ul>
        
                        <li><a href="#">G Vivek Kumar</a></li>
                    
                        <li><a href="#">Artificial Intelligence & Data Science</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h5>College</h5>
                    <ul>
                        <li><a href="#">Sri Indu College Of Engineering and Technology</a></li>
                        <li><a href="#">Sheriguda-Hyderabad</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h5>Information</h5>
                    <ul>
                        <li><a>Web Application for Farmers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for( 'static', filename='assets/js/select.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="{{ url_for( 'static', filename='assets/js/bar.js') }}"></script>
</body>
</html>