body{
	font-family: lato;
}

html{ 
	height: 100%;
}

/*Content*/

hr{
	width: 75%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.c1 {
	color: white;
}

.content{
	text-align: center;
	padding-top: 70px;
	padding-bottom: 50px;
	filter: brightness(95%);
	background: url("/static/assets/images/background.jpg") no-repeat;
	background-size: cover; 
}

.content h1{
	font-weight: 700;
	font-size: 5em;
}

/*Navbar*/

.navbar{
	background: rgba(0,0,0,0.5);
}

.navbar a{
	color: #f8f8f8;
}

.nav a:hover{
	color: #4d4d4d;
	background: white;
	filter: brightness(95%);
	text-shadow: -1px -1px -1px black; 
}

.navbar-brand:hover{
	color: #f8f8f8;
}

.button{
	color: white;
}

.icon-bar {
    background-color: #f8f8f8;
}

.navbar-toggle {
    border-color: #f8f8f8;
}

/*Result Page*/

.panel-heading {
    background-color: #3a3f46 !important;
    border-color: #3a3f46 !important;
    color: #fff !important;
}

.info {
	text-align: justify;
}


/*About Page*/

.about {
	padding-top: 75px;
	padding-bottom: 50px;
	color: #fff;
	background-color: #00dbff;
	background-image: url("/static/assets/images/cartographer.png");
	/*background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");*/
}

.about img {
	border-radius: 50%;
}

.about .media {
	padding: 20px;
	border-radius: 5px;
}

.media-object{
	width: 200px;
	height: 200px;
}

.about .media .left {
	padding-left: 20px;
}

.about .media .right {
	padding-right: 20px;
}

.about .media .media-body p {
	text-align: justify;
	font-size: 1.8rem;
}

.img-left {
	border-right: 2px solid #f5f5f5;
	padding-right: 20px !important;
}

.img-right {
	border-left: 2px solid #f5f5f5;
	padding-left: 20px !important;
}

@media (max-width: 767px) {
    .remove{
    	display: none;
    }
}

/*Chart*/
.chart-container {
  padding: 10px;
  background: #fff;
  border-radius: 1%;
}
